<form class="standard-form" autocomplete="off" spellcheck="false">
    <fieldset {{#unless hasS3}}class="hidden"{{/unless}}>
        <legend>{{@root.i18n 'source.label'}}</legend>
        <div class="form-group stacked character">
            <div class="form-fields">
                <select name="source">
                    {{selectOptions sources selected=source }}
                </select>
            </div>
            <p class="hint">{{@root.i18n 'source.hint'}}</p>
        </div>
    </fieldset>
    {{#each entries as |entry|}}
    <fieldset>
        <legend>{{localize entry.label}}</legend>
        <div class="form-group">
            <label>{{@root.i18n 'avatar'}}</label>
            <div class="form-fields">
                <input type="text" name="{{entry.type}}.avatar"  value="{{entry.avatar.value}}" placeholder="{{entry.avatar.placeholder}}">
            </div>
        </div>
        <div class="form-group">
            <label>{{@root.i18n 'token'}}</label>
            <div class="form-fields">
                <input type="text" name="{{entry.type}}.token"  value="{{entry.token.value}}" placeholder="{{entry.token.placeholder}}">
            </div>
        </div>
    </fieldset>
    {{/each}}
    <footer class="form-footer">
        <button type="button" data-action="save">
            <i class="fas fa-save"></i>
            <span>{{@root.i18n 'save'}}</span>
        </button>
        <button type="button" data-action="cancel">
            <i class="fas fa-multiply"></i>
            <span>{{@root.i18n 'cancel'}}</span>
        </button>
    </footer>
</form>
