{{#if warning}}
    <div class="warning">{{@root.i18n 'warning' warning}}</div>
{{/if}}

<div class="left-menu">
    <div class="masks">
        <div class="header">
            {{@root.i18n 'mask.title'}}
            <input type="checkbox" name="toggle-popout">
        </div>
        {{#each masks as |mask|}}
        <div class="mask" data-id="{{mask.id}}" style="--mask-color:{{mask.color}};">
            <div class="label">{{@root.i18n 'mask.range'}}</div>
            <input type="range" name="update-mask" data-update="range" min="0" max="1.5" step="0.01" value="{{mask.range}}">
            <div class="label">{{@root.i18n 'mask.width'}}</div>
            <input type="range" name="update-mask" data-update="width" min="0" max="1.5" step="0.01" value="{{mask.width}}">
            <div class="label">{{@root.i18n 'mask.angle'}}</div>
            <input type="range" name="update-mask" data-update="angle" min="-180" max="180" value="{{mask.angle}}">
        </div>
        {{/each}}
    </div>
    <div class="extras">
        <select name="select-background">
            {{selectOptions backgrounds selected=background}}
        </select>
        <select name="select-ring">
            {{selectOptions rings selected=ring}}
        </select>
        <button type="button" data-action="download">
            {{@root.i18n 'download'}}
        </button>
    </div>
</div>

<div class="canvas"></div>

<div class="menu">
    <div class="color-pickers">
        <div class="color-picker">
            <input type="color" name="border" value="#ffffff" />
            <label>{{@root.i18n 'border'}}</label>
        </div>
        <div class="color-picker">
            <input type="color" name="background" value="#ffffff" />
            <label>{{@root.i18n 'background.label'}}</label>
        </div>
    </div>
    <button class="button" data-action="load-avatar">
        {{@root.i18n 'load-avatar'}}
    </button>
    <button class="button" data-action="open-local">
        {{@root.i18n 'open-local'}}
        <input type="file" name="local-file" accept="image/*" />
    </button>
    <button class="button" data-action="open-server" {{disabled (not canBrowse)}}>
        {{@root.i18n 'open-server'}}
    </button>
    <button class="button" data-action="save-avatar" disabled>
        {{@root.i18n 'save-avatar'}}
    </button>
    <button class="button" data-action="save-token" disabled>
        {{@root.i18n 'save-token'}}
    </button>
    <button class="button" data-action="save-all" disabled>
        {{@root.i18n 'save-all'}}
    </button>
</div>

<div class="preview" data-tooltip-direction="UP"></div>
